<ion-content>

<h3>Bienvenue sur notre site</h3>

<img src="../../assets/imgs/welcome.jpg"> 

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" 
      placeholder="Entrez votre addresse email" 
      [class.invalid]="!loginForm.controls.email.valid && blur">
    </ion-input>
  </ion-item>
  <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
  loginForm.controls.email.touched">
  <p>Veuillez entrer une adresse mail valide.</p>
</ion-item>

<ion-item>
  <ion-label stacked>Mot de Passe</ion-label>
  <ion-input formControlName="password" type="password" 
  placeholder="Votre Mot de Passe" 
  [class.invalid]="!loginForm.controls.password.valid && blur">
</ion-input>
</ion-item>
<ion-item class="error-message" *ngIf="!loginForm.controls.password.valid 
&& loginForm.controls.password.touched">
<p>Votre mot de passe doit faire plus de 6 caractères.</p>
</ion-item>

<button ion-button block type="submit" [disabled]="!loginForm.valid">
  S'Identifier
</button>
</form>

<button ion-button block clear (click)="goToSignup()">
  Créer un nouveau compte
</button>
</ion-content>
