
<ion-content padding>

<h3> Création de compte </h3>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" 
      placeholder="Entrez votre addresse email" 
      [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  
    && signupForm.controls.email.touched">
      <p>Veuillez entrer une adresse mail valide.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mot de Passe</ion-label>
      <ion-input formControlName="password" type="password" 
      placeholder="Votre Mot de Passe" 
      [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
    *ngIf="!signupForm.controls.password.valid  && 
    signupForm.controls.password.touched">
      <p>Votre mot de passe doit faire plus de 6 caractères.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Créer un nouveau compte
    </button>
    <button ion-button block clear (click)="popView()">
      Retour
    </button>
  </form>
</ion-content>